<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<script defer src="{{ asset('js/index.js') }}"></script>
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
	</head>
	<body class="d-flex flex-column">
		{{ include('partials/_header.html.twig') }}
		<div class="flex-fill d-flex flex-row-nowrap justify-content-center">
			<div class="content d-flex flex-row-nowrap flex-fill py-50">
				{{ include('partials/_sidebar.html.twig') }}
				<div class="flex-fill"> {% block body %}{% endblock %}
					</div>
				</div>
			</div>
			{{ include('partials/_footer.html.twig') }}
		</body>
	</html>
